.cards{
    height: 6in;
    width: 100%;
    border: 1px solid red;
    display: flex;
    background-image: url("../Soureces/tempbground.jpg");
    background-size: cover;
}
.card-lable-row{
    right: 0;
    width: 10%;
    height: 6in;
    position: absolute;
    background: rgba(0,0,0,0.6););
    border: 1px solid red;
    /*display: flex;*/
}
.card-lable-row p{
    font-size: 20px;
    transform: rotate(-90deg);
    padding: 150px 0;
    text-align: center;
    color: lightcyan;
}
.card-row{
    height: 100%;
    width: 30%;
    border: 1px solid red;
}
.cards-col{
    width: 80%;
    height: 45%;
    display: inline-block;
    border-radius: 15px;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 15px 30px;
    border: 1px solid red;
    background-image: url("../Soureces/card.jpg");
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.cards-col:nth-child(2), .f-col:nth-child(3){
    flex-basis: 15%;
}
.cards-col:hover{
    transform: translateY(-15px);
}
.cards-col h3{
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 700px) {
    cards{
        bottom: unset;
    }
    .cards-col{
        flex-basis: 100%;
    }
    .cards-col:nth-child(2), .f-col:nth-child(3){
        flex-basis: 100%;
    }
}





























